{% extends 'base/base.html' %} {% block content %}
<h3 class="text-center about-head">About Us - Mobile Garage</h3>
<p class="container about-para">
  Mobile Garage Welcome to Mobile Garage, your one-stop destination for all your
  mobile ecommerce needs. We are a leading online platform dedicated to
  providing you with the latest and most innovative mobile devices, accessories,
  and services. Whether you're looking for a new smartphone, tablet, smartwatch,
  or any other mobile gadget, we've got you covered. At Mobile Garage, we
  understand that mobile technology has become an integral part of our daily
  lives. It connects us with the world, keeps us organized, and entertains us on
  the go. That's why we strive to offer a diverse range of high-quality products
  from renowned brands to ensure that you have access to cutting-edge technology
  at your fingertips. Our commitment to exceptional customer service sets us
  apart. We believe in building long-lasting relationships with our customers,
  and we achieve this by providing a seamless shopping experience, prompt
  assistance, and personalized support. Our knowledgeable and friendly team is
  always ready to assist you in finding the perfect mobile solution that meets
  your specific needs.
</p>
<h3 class="text-center about-head">
  Why choose Mobile Garage? Here are a few reasons:
</h3>
<p class="about-para container">
  <strong>Extensive Product Selection:</strong><br />
  We curate an extensive collection of mobile devices, accessories, and services
  to cater to a wide range of preferences and budgets. You'll find the latest
  models from popular brands, ensuring you stay ahead in the mobile technology
  game. Quality Assurance: We prioritize quality and only partner with reputable
  manufacturers and distributors. Rest assured, every product you purchase from
  Mobile Garage is authentic, reliable, and backed by warranty. <br />
  <strong> Competitive Prices:</strong><br />
  We understand the importance of affordability, and we strive to offer
  competitive prices without compromising on quality. Take advantage of our
  regular promotions and deals to make your mobile shopping experience even more
  rewarding. <br />
  <strong>Secure and Convenient Shopping:</strong> <br />
  We have implemented state-of-the-art security measures to ensure that your
  personal information and transactions are protected. Our user-friendly website
  and intuitive interface make browsing and purchasing a breeze. <br />
  <strong>Fast and Reliable Delivery:</strong><br />
  We work with trusted shipping partners to ensure that your orders are
  delivered swiftly and securely to your doorstep. Track your package every step
  of the way and enjoy the excitement of receiving your new mobile gadget in no
  time. Whether you're a tech enthusiast, a business professional, or someone
  who simply wants to stay connected, Mobile Garage is here to cater to your
  mobile needs.<br /><br />
  <strong
    >Explore our vast selection, find the perfect mobile solution, and embark on
    an extraordinary mobile experience with us. Stay connected, stay ahead with
    Mobile Garage!</strong
  >
</p>

<h3 class="text-center about-head">Privacy Policy - Mobile Garage</h3>
<p class="container privacy">
  At Mobile Garage, we value and prioritize the privacy of our customers. This
  Privacy Policy outlines how we collect, use, and protect your personal
  information when you interact with our website or make use of our mobile
  ecommerce services. We are committed to maintaining the confidentiality and
  security of your information in accordance with applicable data protection
  laws and regulations. <br /><br><br>

  <strong>1.Information We Collect:</strong><br>
  When you visit our website or make a purchase, we may collect the following
  types of information: <br />
  Personal Information: <br />
  This includes your name, email address, phone number, shipping address, and
  payment details necessary for order processing and delivery. <br />Usage
  Information: <br />
  We may collect non-personal information about your interactions with our
  website, such as IP address, browser type, device information, and pages
  visited. This information helps us improve our services and provide a
  personalized user experience.
  <br />
  <strong>2.How We Use Your Information:</strong>
  <br />
  We use the collected information for the following purposes:
  <br />
  Order Processing: We use your personal information to process and fulfill your
  orders, arrange for delivery, and provide customer support. Communication: We
  may send you transactional emails, order updates, and important notifications
  related to your purchases. With your consent, we may also send promotional
  emails about new products, special offers, or other relevant information.
  Personalization: We analyze usage information to improve our website, tailor
  our content and product recommendations to your interests, and enhance your
  overall experience with Mobile Garage. Security and Fraud Prevention: We
  utilize your information to protect our website and customers from fraudulent
  activities, unauthorized access, and potential threats.
  <br />
  <strong>3.Data Sharing and Disclosure:</strong>
  <br />
  Service Providers: <br />
  We engage reputable service providers to assist us with various business
  functions, such as payment processing, shipping, and customer support. These
  providers have access to the necessary information required to perform their
  respective services but are prohibited from using it for any other purpose.
  <br />
  Legal Compliance: <br />
  We may disclose your information to comply with applicable laws, regulations,
  legal processes, or government requests. We will also cooperate with law
  enforcement agencies in cases of fraud prevention or investigation.
  <br />Business Transfers: <br />
  In the event of a merger, acquisition, or sale of our company assets, your
  personal information may be transferred or disclosed as part of the
  transaction. We will notify you of any such change in ownership or control of
  your information.
  <br />
  <strong>4.Data Retention and Security:</strong>
  <br />
  We retain your personal information only for as long as necessary to fulfill
  the purposes outlined in this Privacy Policy, unless a longer retention period
  is required or permitted by law. We implement appropriate technical and
  organizational measures to protect your information from unauthorized access,
  loss, misuse, or alteration.
</p>

{% endblock content %}
