{% extends 'base/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock link %}



{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not cart_item %}
    <h3 class='text-center'>Your Shopping Cart is Empty </h3>

   <div class='text-center'>
    <a href="{% url 'store' %}"class='btn btn-primary text-center'>Continue Shopping</a>

   </div>
    {% else %}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class='cart-table'>
    <thead class="text-muted">
    <tr class="small text-uppercase cart-row">
      <th scope="col" >Product</th>
      <th scope="col" >Quantity</th>
      <th scope="col" >Price</th>
      <th scope="col" > </th>
    </tr>
    </thead>
    <tbody>
    {% for cart_it in cart_item %}
    <tr class='cart-row'>
        <td class='cart-data'>
            <figure class="itemside align-items-center">
                <div class="aside"><a href="{{cart_it.product.get_url}}"><img src="{{cart_it.product.product_image.url}}" class="img-sm"></a></div>
                <figcaption class="info">
                    <a href="{{cart_it.product.get_url}}" class="title text-dark">{{cart_it.product.product_name}}</a>
                    <p class="text-muted small">RAM : {{cart_it.product.ram}} <br> Storage: {{cart_it.product.storage}}</p>
                </figcaption>
            </figure>
        </td>
        <td class='cart-data'> 
            <!-- col.// -->
                        <div class="col"> 
                            <div class="input-group input-spinner ">
                                <div class="input-group-prepend">
                                <a href="{% url 'minus_cart' cart_it.product.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
                                </div>
                                <input type="text" class="form-control number-quantity"  value="{{cart_it.quantity}}">
                                <div class="input-group-append">
                                <a href="{% url 'add_cart' cart_it.product.id %}" class="btn btn-light " type="button" id="button-minus"> <i class="fa fa-plus"></i> </a>
                                </div>
                            </div> <!-- input-group.// -->
                        </div> <!-- col.// -->
        </td>
        <td class='cart-data'> 
            <div class="price-wrap"> 
                <var class="price">Rs:{{cart_it.sub_total}} </var> 
                <br>
                <small class="text-muted">Rs: {{cart_it.product.selling_price}} for each </small> 
            </div> <!-- price-wrap .// -->
        </td class='cart-data'>
        <td class="text-right"> 
        <a href="{% url 'remove_item' cart_it.product.id %}" class="btn btn-danger remove-btn"> Remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Delivery Fee:</dt>
                  <dd class="text-right"> Rs:{{delivery_fee}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>Rs:{{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p>
                <a href="./place-order.html" class="btn btn-primary btn-block"> Checkout </a>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    {% endif %}
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>

{% endblock content %}

